

<div class="profileContain">
  <div class = "profileTweets">
<div class="profileSubpageContainer" ng-repeat= "tweet in subCtrl.profileSubpageService.userTweets">
 {{tweet.posted | date:'medium'}} {{tweet.content}}
</div>
</div>
<div class = "followMe">
  <div class = "followImage">
  <img src= "/image/followMe.gif" alt="default picture" style="width:214px;height:150px;">
  </div>
  <div class="followingContainer">
  <div class="followHeading"> Following </div>
    <div ng-repeat= "following in subCtrl.profileSubpageService.userFollowing">
      <a ui-sref="profile ({username: following.username})">{{following.profile.firstName}} {{following.profile.lastName}} @{{following.username}}</a>
   </div>
       </div>
   <div class="followersContainer">
   <div class="followHeading"> Followers </div>
     <div ng-repeat= "follower in subCtrl.profileSubpageService.userFollowers">
      <a ui-sref="profile ({username: follower.username})">
    {{follower.profile.firstName}} {{follower.profile.lastName}} @{{follower.username}}</a> 

    </div>
    </div>
   </div>
      </div>
