body {
  margin: 0;
  background-image: url("image/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.headline {
  height: 55vh;
  width: 100vw;
  padding-top: 0vh;
  font-size: 8em;
  font-weight: bolder;
  font-style: italic;
  margin-left: 25vw;
  color: WHITE;
  text-shadow: 5px 5px 4px BLACK;
}
.beLoggedIn{
  margin-left: 75vw;
  font-size: 2em;
  font-weight: bolder;
  margin-top: -20vw;
  color: WHITE;
}
.profileComponent{
  margin: 5vh 5vw 5vh 5vw;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  }

.privateInfo {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: white;
    }

.myTweets {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 4 1 auto;
    -ms-flex: 4 1 auto;
    flex: 4 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: white;
    }

.myFollowing {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: white;
    }

.tweetContainer {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 6%;
  padding: 3%;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #222;
  line-height: 200%;
  text-shadow: 1px 1px 4px WHITE;
  font-size: 1.5em;
  color: black !important;
  background-color: rgba(255, 255, 255, 0.8);
}
.loginContainer {
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-size: 2em;
  text-indent: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  margin-top: auto;
  color: inherit;
  background-color: #151515;
}

.login-form .login-form-group {
  margin-left: 0px;
  margin-right: 0px;
}
.login-input-col1, .login-input-col2 {
  width: 80%;
  position: relative;
  margin-left: 40px;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #888888;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #282828;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-default {
  color: #ffffff;
  background-color: #424242;
  border-color: #424242;
}
.btn-primary {
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}
.login-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
