body {
  margin: 0;
  background-image: url("image/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.headline {
  height: 55vh;
  width: 100vw;
  padding-top: 0vh;
  font-size: 8em;
  font-weight: bolder;
  font-style: italic;
  margin-left: 25vw;
  color: WHITE;
  text-shadow: 5px 5px 4px BLACK;
}
.beLoggedIn{
  margin-left: 75vw;
  font-size: 2em;
  font-weight: bolder;
  margin-top: -20vw;
  color: WHITE;
}
.profileComponent{
  margin: 5vh 5vw 5vh 5vw;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  }

.privateInfo {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: white;
    }

.myTweets {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 4 1 auto;
    -ms-flex: 4 1 auto;
    flex: 4 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: white;
    }

.myFollowing {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: white;
    }

.tweetContainer {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 6%;
  padding: 3%;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #222;
  line-height: 200%;
  text-shadow: 1px 1px 4px WHITE;
  font-size: 1.5em;
  color: black !important;
  background-color: rgba(255, 255, 255, 0.8);
}
